@page
@model IndexModel
@{
    ViewData["Title"] = "Starships";
}

<h1 class="display-4">Starships</h1>

<div>
    <a asp-page="Starships/Add">Add</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Model</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var starship in Model.StarshipList)
        {
            <tr>
                <td><a asp-page="starships/view" asp-route-itemid="@starship.Id">@starship.Name</a></td>
                <td>@starship.ModelName</td>
                <td>
                    <a asp-page="Starships/Edit" asp-route-itemid="@starship.Id">Edit</a> |
                    <a asp-page="Starships/Delete" asp-route-itemid="@starship.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
